<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/vendor/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Traffic Signals</title>
    <script src="../static/vendor/jquery.js"></script>
</head>
<body>
    <h3 class="text-center display-3 m-5">Traffic Light 1</h3>
    <div class="container text-center">
        <img src="../static/signalimages/rtl.png" class="img-fluid" id="trafficlight" alt="Traffic light.">
    </div>

    <div class="text-center m-5">
        <button type="button" class="btn btn-danger"  onclick="make_red()">Red</button>
        <button type="button" class="btn btn-warning" onclick="make_yellow()">Yellow</button>
        <button type="button" class="btn btn-success" onclick="make_green()">Green</button>
    </div>

<script language="JavaScript">

    function make_red(delay){
        setTimeout(function () {
            $("#trafficlight").attr("src", "../static/signalimages/rtl.png");
        }, delay);
    };

    function make_yellow(delay){
        setTimeout(function () {
            $("#trafficlight").attr("src", "../static/signalimages/ytl.png");
        }, delay);
    };

    function make_green(delay){
        setTimeout(function () {
            $("#trafficlight").attr("src", "../static/signalimages/gtl.png");
        }, delay);
    };

    setInterval(function () {
        $.get("/getsignaldata",
        function (data, status) {
            console.log(data);

            var currstate;
            if($("#trafficlight").attr("src") == "../static/signalimages/gtl.png"){
                currstate = "green";
            }
            else {
                currstate = "red";
            }

            if(data["1"] == "green" && currstate == "red"){
                make_yellow(400);
                make_green(800);
            }
            else if(data["1"] == "red" && currstate == "green"){
                make_yellow(400);
                make_red(800);
            }
        });
    }, 1000);

</script>
</body>
</html>